<!-- <div class="min-h-screen bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-6">
    <div class="bg-white bg-opacity-50 backdrop-blur-xl p-6 rounded-lg shadow-md w-full max-w-4xl mx-auto">
      <h2 class="text-2xl font-black text-black-800 mb-4">{{ user.name}}</h2>
      <p class="text-black-600">Your Workout Analysis</p>
      
      <div *ngIf="user">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Total Workouts:</strong> {{ user.workouts.length }}</p>
        
        <div *ngIf="user && user.workouts.length > 0">
          <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
        </div>
      </div>
    </div>
  </div>
   -->